<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @proposition.name %>
</p>

<p>
  <strong>Poll:</strong>
  <%= @proposition.poll %>
</p>

<%= link_to 'Edit', edit_proposition_path(@proposition) %> |
<%= link_to 'Back', propositions_path %>
